{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div>
    <p>{{ .Site.Params.homeSubtitle }}</p>

    {{ if .Content }}
    <div style="margin-top: 30px;">
        {{ .Content }}
    </div>
    {{ end }}

    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ if gt (len $posts) 0 }}
    {{ $totalPosts := len $posts }}
    <ul class="post-list" style="margin-top: 40px;">
        {{ range $index, $post := $posts }}
        {{ $hexNum := sub $totalPosts (add $index 1) }}
        <li class="post-item">
            <span class="post-number">0x{{ printf "%x" $hexNum }}</span>
            <span class="post-content"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
